astroid==2.2.5
autopep8==1.4.4
beautifulsoup4==4.7.1
betterpath==0.2.2
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.3
gunicorn==19.9.0
idna==2.8
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
l==0.11.0
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.16.4
Pillow==6.0.0
pycodestyle==2.5.0
pylint==2.3.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
torchvision==0.3.0
typed-ast==1.4.0
urllib3==1.25.3
vcversioner==2.16.0.0
Werkzeug==0.15.4
wrapt==1.11.1
zope.interface==4.6.0
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-linux_x86_64.whl