<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon">
    <title>Page not found</title>
</head>

<body>
    <div class='row justify-content-center' style='margin-top: 10%; margin-left: -13%; margin-bottom: 10px'>
        <div class='col-md-6 col-3 text-right align-self-center'>
            <img src="{{url_for('static', filename='images/logo.svg')}}" width="100px" alt="Logo">
        </div>
        <div class='col-md-6 col-3 text-left'>
            <h1 class='display-1'>Uh, Oh!</h1>
        </div>
    </div>
    <div class='row justify-content-center text-center' style='margin: 2%; width: 100%'>
        <h4>Looks like we're having trouble getting what you asked for!</h4>
    </div>
    <div class='row justify-content-center text-center' style='margin: 2%; width: 100%'>
    <h4>Let's go back</h4>
    </div>
    <div class='row justify-content-center text-center' style='margin: 2%; width: 100%'>
    <button class='btn btn-warning' onclick="goBack()">Go Back</button>
    </div>
    <script>
    function goBack(){
        window.history.back();
    }
    </script>
</body>

</html>