<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Style Transfer App</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- app icon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon">
</head>

<body>
    <!-- Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: rgba(0, 0, 0, 0.75)">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='images/logo.svg')}}" width="32" height="32"
                    class="d-inline-block align-top" alt="Logo"> Style Transfer App
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://puneet29.github.io/StyleTransferApp/" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://puneet29.github.io/" target="_blank">About Author</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:puneet29saini@gmail.com" target="_blank">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        {% block body %}
        {% endblock %}
    </div>

    <footer class="text-light footer card-footer" style="background-color: #212121">
        <div class="container">
            <div class="float-right">
                <h5>
                    <a class="text-light" href="https://www.github.com/puneet29" target="_blank">
                        <i class="fab fa-github"></i>
                    </a> ·
                    <a class="text-light" href="https://www.instagram.com/puneetsaini" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a> ·
                    <a class="text-light" href="https://www.facebook.com/geekpuneet" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a> ·
                    <a class="text-light" href="https://twitter.com/punnettsaini" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </h5>
            </div>
            <h5 class="float-left">Style Transfer App</h5>
            <h5 class="text-center">Made with <i class="fas fa-heart"></i> by Puneet</h5>
        </div>
    </footer>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>