{% extends 'header.html' %}

{% block body %}
<div class="container text-center" style="margin-top: 2%; margin-bottom: 8%">
    <h5>[STEP 2]</h5><br>
    <img src='{{stylePath}}' alt="Selected style photo" style="max-width: 100%; max-height: 100%">
    <br><br>
    <h5>Upload the content image you want to stylize with the style image below</h5><br>
    <p>Please upload a photo which is preferably less than 1500px on either of the dimensions. This is just a
        developer's preview, the quality might not be as good.</p>
    <form method="POST" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="contentfileupload">
            <label class="custom-file-label" for="contentfileupload">Choose file</label>
        </div><br><br>
        <input id="stylizeButton" type="submit" class="btn btn-dark" value="Stylize">
    </form>
</div>
{% endblock %}