{% extends 'header.html' %}

{% block body %}

<div class="container" style="margin-top: 2%; margin-bottom:25%">
    <h1 class="text-center">Thank you for taking time to check out this application! :) </h1>
    <br><br>
    <h4>Download your stylized photo by clicking the button &nbsp;&nbsp; <a type="button" class="btn btn-dark"
            href="/download/">Download</a></h4>
    <br><br>
    <h4>Suggestions or reviews?</h4>
    <p>Feel free to contact at the given email for any suggestions or reviews</p>
    <p><strong>Email ID: </strong><a href="mailto:puneet29saini@gmail.com">puneet29saini@gmail.com</a></p>
    <br>
    <h4>Encountered issues?</h4>
    <p>For any issues related to the site and image generation, please report them at <a
            href="https://github.com/puneet29/StyleTransferApp/issues">this repo</a>.</p>
    <br>
    <h4>Continue Stylizing images?</h4>
    <h5>Let's do it!</h5>
    <a type="button" href="/" class='btn btn-dark'>Try another style</a>
</div>
{% endblock %}